{% extends "base.html" %}

{% block content %}

<!-- ===================== ABOUT SECTION ===================== -->

<section id="about" class="about section">

    <div class="section-title">
        <span>Get To Know Me</span>
        <h2>About Me</h2>
      
    </div>

    <div class="about-container">

        <!-- Left Side -->

        <div class="about-image">

            <img src="{{ url_for('static', filename='images/sonam.jpeg') }}"
                 alt="Sonam">

        </div>

        <!-- Right Side -->

        <div class="about-content">

            <h3>Hello! I'm Sonam 🎓🌷</h3>

            <p>
                I am currently pursuing a Bachelor's degree in Computer Science Engineering at
                <strong>Jai Parkash Mukand Lal Innovation Engineering and Technology Institute, Radaur.</strong> 
                 I am deeply passionate about Artificial Intelligence, Machine Learning, and Full Stack Web Development,
                 and I enjoy leveraging technology to build innovative solutions that solve real-world problems.
            </p>

            <p>
                As I continue this journey, my goal is to grow into a Software Engineer who combines 
                technical expertise with innovative thinking to create intelligent, impactful, and 
                human-centered solutions. For me, every line of code is another opportunity to learn,
                 improve, and contribute to a future where technology makes everyday life a little smarter 
                 and a lot more meaningful.
            </p>

            <div class="about-info">

                <div class="info-card">

                    <i class="fas fa-user-graduate"></i>

                    <h4>Education</h4>

                    <p>B.Tech CSE</p>

                </div>

                <div class="info-card">

                    <i class="fas fa-laptop-code"></i>

                    <h4>Interest</h4>

                    <p>Artificial Intelligence</p>

                </div>

                <div class="info-card">

                    <i class="fas fa-trophy"></i>

                    <h4>Hackathons</h4>

                    <p>Active Participant</p>

                </div>

                <div class="info-card">

                    <i class="fas fa-book-reader"></i>

                    <h4>Learning</h4>

                    <p>AI • Flask • ML</p>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}