{% extends "base.html" %}

{% block content %}


<!-- ===================== CERTIFICATES SECTION ===================== -->

<section id="certificates" class="certificates section">

    <div class="section-title">
        <span>Achievements</span>
        <h2>Certificates</h2>
        <p>
            Certifications, workshops, and technical events that have
            strengthened my knowledge and practical skills.
        </p>
    </div>

    <div class="certificate-container">

        <!-- Certificate 1 -->

        <div class="certificate-card">

            <i class="fas fa-award certificate-icon"></i>

            <h3>Elite Her Hackathon</h3>

            <p>
             Excited to share that our team MIND_SPARKS
             has been selected among the Top 50 Finalists of the Elite Her Hackathon!
             Out of 920+ innovative ideas, 5000+ participants.
            </p>

            <a href="{{ url_for('static', filename='images/certificate_Sonam.png') }}" class="certificate-btn">
                View Certificate
            </a>

        </div>

        <!-- Certificate 2 -->

        <div class="certificate-card">

            <i class="fas fa-laptop-code certificate-icon"></i>

            <h3>Web Development</h3>

            <p>
               Completed a Web Development certification, gaining a strong 
               foundation in HTML, CSS, Responsive Web Design, and modern 
               front-end development practices.
            </p>

            <a href="{{ url_for('static', filename='images/webdev.jpg') }}" class="certificate-btn">
                View Certificate
            </a>

        </div>

        <!-- Certificate 3 -->

        <div class="certificate-card">

            <i class="fas fa-robot certificate-icon"></i>

            <h3>Artificial Intelligence Intern</h3>

            <p>
                coming soon
            </p>

            <a href="#" class="certificate-btn">
                View Certificate
            </a>

        </div>

        <!-- Certificate 4 -->

        <div class="certificate-card">

            <i class="fas fa-trophy certificate-icon"></i>

            <h3>RockVerse Hackathon</h3>

            <p>
               Received a Certificate of Contribution at RockVerse Hackathon
               by Big Rock Exchange, enhancing my teamwork, problem-solving,
                collaboration, and innovation skills.
            </p>

            <a href="{{ url_for('static', filename='images/rockverse.jpeg') }}" class="certificate-btn">
                View Certificate
            </a>

        </div>


        <div class="certificate-card">

            <i class="fas fa-briefcase certificate-icon"></i>

            <h3>CyberSecurity Fundamentals</h3>

            <p>
              Completed the Cyber Security Fundamentals course on Infosys Springboard,
                 building essential cybersecurity knowledge and learning to apply security
                  concepts.

            </p>

            <a href="{{ url_for('static', filename='images/cybersecurity.png') }}" class="certificate-btn">
                View Certificate
            </a>

        </div>

        
        <div class="certificate-card">

            <i class="fas fa-trophy certificate-icon"></i>

            <h3> Smart India Hackathon</h3>

            <p>
               Participated in the Internal <strong>SIH (2024 & 2025)</strong>,
                worked with a team to solve real-world problems, and improved my 
                teamwork, problem-solving, and technical skills.
            </p>

            <a href="{{ url_for('static', filename='images/sih.jpg') }}" class="certificate-btn">
                View Certificate
            </a>

        </div>

        
        <div class="certificate-card">

            <i class="fas fa-pen-nib certificate-icon"></i>

            <h3>Drone Bootcamp</h3>

            <p>
                Participated in a 5-day Drone Bootcamp organized by NIT kuk, where I learned 
                drone basics, flight operations, safety guidelines, and 
                practical applications through hands-on training.
            </p>

            <a href="{{ url_for('static', filename='images/drone.jpg') }}" class="certificate-btn">
                View Certificate
            </a>

        </div>
        
        <div class="certificate-card">

            <i class="fas fa-trophy certificate-icon"></i>

            <h3> Hackathon</h3>

            <p>
               coming soon
            </p>

            <a href="#" class="certificate-btn">
                View Certificate
            </a>

        </div>

        
        <div class="certificate-card">

            <i class="fas fa-trophy certificate-icon"></i>

            <h3>Hackathon</h3>

            <p>
                coming soon
            </p>

            <a href="#" class="certificate-btn">
                View Certificate
            </a>

        </div>

    </div>

</section>

{% endblock %}