{% extends "base.html" %}

{% block content %}

<!-- ===================== EDUCATION SECTION ===================== -->

<section id="education" class="education section">

    <div class="section-title">
        <span>My Journey</span>
        <h2>Education</h2>
        <p>
            My academic journey has helped me build a strong foundation in
            computer science and develop a passion for Artificial Intelligence.
        </p>
    </div>

    <div class="timeline">

        <!-- 1. Internship -->

        <div class="timeline-item">

            <div class="timeline-icon">
                <i class="fas fa-briefcase"></i>
            </div>

            <div class="timeline-content">

                <div class="timeline-top">
                    <span class="timeline-date">AIML Intern</span>
                    <a href="{{ url_for('internship') }}" class="see-journey-btn">
                        See My Journey <i class="fas fa-arrow-right"></i>
                    </a>
                </div>

                <h3>
                    Intern at CodroidHub Pvt. Ltd.
                </h3>

                <p>
                    After completing my second year of B.Tech, I joined CodroidHub Pvt. Ltd. Ambala, 
                    as an AIML Intern, where I worked on industry-oriented projects 
                     and developed practical solutions.
                </p>

            </div>

        </div>

        <!-- 2. B.Tech -->

        <div class="timeline-item">

            <div class="timeline-icon">
                <i class="fas fa-graduation-cap"></i>
            </div>

            <div class="timeline-content">

                <div class="timeline-top">
                    <span class="timeline-date">2024 - 2028</span>
                    <a href="{{ url_for('btech_journey') }}" class="see-journey-btn">
                        See My Journey <i class="fas fa-arrow-right"></i>
                    </a>
                </div>

                <h3>
                    Bachelor of Technology
                </h3>

                <h4>
                    Computer Science Engineering
                </h4>

                <p>
                    Jai Parkash Mukand Lal Innovation Engineering and Technology Institute,
                    Radaur, Haryana
                </p>

               <ul>
                    <li>Currently pursuing B.Tech in Computer Science Engineering.</li>
                    <li>Exploring Artificial Intelligence, Machine Learning, and Web Development.</li>
                    <li>Actively participating in hackathons and technical events.</li>
                    <li>Building real-world projects using Python and Flask.</li>
                </ul>
            </div>

        </div>

        <!-- 3. Senior Secondary -->

        <div class="timeline-item">

            <div class="timeline-icon">
                <i class="fas fa-graduation-cap"></i>
            </div>

            <div class="timeline-content">

                <div class="timeline-top">
                    <span class="timeline-date">2023-2024</span>
                    <a href="{{ url_for('school_journey') }}#senior-secondary" class="see-journey-btn">
                        See My Journey <i class="fas fa-arrow-right"></i>
                    </a>
                </div>

                <h3>
                    Senior Secondary
                </h3>

                <h4>
                    Non-Medical(Computer Science)
                </h4>

                <p>
                    Sanjay Gandhi Senior Secondary Memorial Public School Ladwa,Kurukshetra, Haryana
                </p>

                <ul>
                    <li>Completed Senior Secondary Education  with a specialization in Non-Medical and Computer Science.</li>

                    <li>Represented the institution in multiple academic and extracurricular events.</li>

                    <li>Held the position of Student Editor for the School Magazine, demonstrating leadership and communication skills.</li>

                    <li>Graduated with an outstanding academic performance, securing 90% marks.</li>

                </ul>

            </div>

        </div>

        <!-- 4. Matriculation -->

        <div class="timeline-item">

            <div class="timeline-icon">
                <i class="fas fa-school"></i>
            </div>

            <div class="timeline-content">

                <div class="timeline-top">
                    <span class="timeline-date">2021-2022</span>
                    <a href="{{ url_for('school_journey') }}#matriculation" class="see-journey-btn">
                        See My Journey <i class="fas fa-arrow-right"></i>
                    </a>
                </div>

                <h3>
                    Secondary School Certificate 
                </h3>
                <h4>
                    Class 10th (CBSE)
                </h4>

                <p>
                    Sanjay Gandhi Senior Secondary Memorial Public School Ladwa,Kurukshetra, Haryana
                </p>

                <ul>
                    <li>Successfully completed Class 10 with 94% Marks.</li>
                    <li>Achieved Gold Medal in SOF Olympaid.</li>
                    <li>Engaged in academic, cultural, and extracurricular activities throughout the school years.</li>
                    <li>Built a solid foundation in scientific principles, and problem-solving skills.</li>
                </ul>

            </div>

        </div>

    </div>

</section>

{% endblock %}
